#newsletter-result.newsletter-failed {
    clear: both;
    color: #FF0000;
    font-size: 10px;
    line-height: 13px;
    margin: 3px 0 0;
    min-height: 13px;
}

#newsletter-result.newsletter-success {
    clear: both;
    color: #388838;
    font-size: 10px;
    line-height: 13px;
    margin: 3px 0 0;
    min-height: 13px;
}
