<?php $helper = Mage::helper("etajaxnewsletter"); ?>
<div class="block-subscribe">
    <form action="<?php echo $this->getUrl('newsletter/subscriber/new') ?>" method="post" id="newsletter-validate-detail" onSubmit="newsletterValidateDetailSubmit(); return false;">
        <div class="form-subscribe">
            <div class="form-subscribe-header">
                <label for="newsletter"><?php echo $helper->__('Sign Up for Our Newsletter:') ?></label>
            </div>
            <div class="input-box">
                <input type="text" name="email" id="newsletter" onFocus="if(this.value=='<?php echo $helper->__('Enter email address') ?>')this.value='';" title="<?php echo $helper->__('Enter email address') ?>" value="<?php echo $helper->__('Enter email address') ?>" class="input-text required-entry validate-email" />
                <div id="newsletter-result" class=""></div>
            </div>
            <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
        </div>
        <input type="hidden" name="uenc" value="<?php print Mage::helper("core")->urlEncode($this->getUrl("etajaxnewsletter/report/show"));?>" />
    </form>
    <script type="text/javascript">

        function newsletterValidateDetailSubmit()
        {
            $("newsletter-result").update("");
            $("newsletter-result").removeClassName("newsletter-success");
            $("newsletter-result").removeClassName("newsletter-failed");
            var this_form       = $("newsletter-validate-detail");
            var this_validator  = new Validation(this_form);
            if(this_validator && this_validator.validate()){
                new Ajax.Request($("newsletter-validate-detail").action,{
                    method: 'post',
                    parameters: $('newsletter-validate-detail').serialize(true),

                    onSuccess: function(response) {
                        var result = eval('(' + response.responseText + ')');
                        if(result["status"]=="success")$("newsletter-result").addClassName("newsletter-success");
                        else if(result["status"]=="failed")$("newsletter-result").addClassName("newsletter-failed");
                        $("newsletter-result").update(result["message"]);
                    }
                });
            }
        }
    </script>
</div>